// ********************
// SECTIONS
// ********************

.section {
    position: relative;
}

.pt-40 {
    padding-top: 2.5rem;
}

.pt-80 {
    padding-top: 5rem;
}

.pt-120 {
    padding-top: 7.5rem;
}

.pt-160 {
    padding-top: 10rem;
}

.pt-240 {
    padding-top: 15rem;
}

.pt-320 {
    padding-top: 20rem;
}

.pb-40 {
    padding-bottom: 2.5rem;
}

.pb-80 {
    padding-bottom: 5rem;
}

.pb-120 {
    padding-bottom: 7.5rem;
}

.pb-160 {
    padding-bottom: 10rem;
}

.py-40 {
    padding: 2.5rem 0;
}

.py-80 {
    padding: 5rem 0;
}

.py-120 {
    padding: 7.5rem 0;
}

.py-160 {
    padding: 10rem 0;
}

.py-240 {
    padding: 15rem 0;
}

.mb-10 {
    margin-bottom: 0.625rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-40 {
    margin-bottom: 2.5rem;
}

.mb-80 {
    margin-bottom: 5rem;
}