// ********************
// BUTTONS
// ********************

.btn {
    transition: all 0.3s ease-in-out;
    will-change: box-shadow, background-color;
    box-shadow: 0px 1px 3px 0px rgba($color: #000000, $alpha: 0.1), 0px 1px 2px 0px rgba($color: #000000, $alpha: 0.06);
    padding: 1rem 2rem;
    background-color: $gold-500;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;

    &:hover {
        box-shadow: 0px 10px 15px -3px rgba($color: #000000, $alpha: 0.1), 0px 2px 4px -1px rgba($color: #000000, $alpha: 0.06);
        background-color: $gold-600;
    }

}