// ********************
// HERO SECTION
// ********************

section#hero {
    background-color: $gray-500;
    background-image: url('static/img/matt_screens.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

    &::before {
        content: '';
        position: absolute;
        z-index: 100;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
        background-image: linear-gradient(to right, rgba($gray-500, 0.4), rgba($gray-500, 0.95) 80%);
    }

    > .container {
        position: relative;
        z-index: 200;
    }

}

.hero__background {
    display: block;
    position: absolute;
    z-index: 150;
    top: 0; right: 0;
    width: 50%; height: 100%;
    background-image: url('/static/img/matt_cutout.webp');
    background-repeat: no-repeat;
    background-size: auto 85%;
    filter: brightness(80%) opacity(80%) saturate(90%);

    &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
    }

    // Below 639px;
    @media(max-width: map-get($breakpoints, 'small') - 0.0625rem) {
        display: none;
        background-position: bottom 0 right 0;  
    }
    
    // From 640px to 767px;
    @media(min-width: map-get($breakpoints, 'small')) and (max-width: map-get($breakpoints, 'medium') - 0.0625rem) {
        display: none;
        background-position: bottom 0 right 0;
    }

    // From 768px to 1023px;
    @media(min-width: map-get($breakpoints, 'medium')) and (max-width: map-get($breakpoints, 'large') - 0.0625rem) {
        display: none;
        background-position: bottom 0 right 0;
    }

    // From 1024px to 1279px;
    @media(min-width: map-get($breakpoints, 'large')) and (max-width: map-get($breakpoints, 'xl') - 0.0625rem) {
        display: block;
        background-position: bottom -10% right 120%;
        filter: opacity(20%);
    }

    // From 1280px to 1535px;
    @media(min-width: map-get($breakpoints, 'xl')) and (max-width: map-get($breakpoints, '2xl') - 0.0625rem) {
        display: block;
        background-position: bottom -10% right 100%;
        filter: opacity(30%);
    }

    // Above 1535px
    @media(min-width: map-get($breakpoints, '2xl')) {
        display: block;
        background-position: bottom -10% right -20%;
        filter: opacity(50%);
    }

}


.hero__intro--ty {
    margin-left: auto;
    margin-right: auto;
    max-width: 60.625rem;
}

.hero__intro, .expect__intro {
    max-width: 60.625rem;
    color: $gray-500;

    > p:not(.eyebrow) {
        font-weight: 400;
        color: $gray-300;

        // Below 639px;
        @media(max-width: map-get($breakpoints, 'small') - 0.0625rem) {
            margin: 1.14em 0;
            font-size: 1.29em;
            line-height: 1.56;
        }
        
        // From 640px to 767px;
        @media(min-width: map-get($breakpoints, 'small')) and (max-width: map-get($breakpoints, 'medium') - 0.0625rem) {
            margin: 1.25em 0;
            font-size: 1.25em;
            line-height: 1.6;
        }

        // From 768px to 1023px;
        @media(min-width: map-get($breakpoints, 'medium')) and (max-width: map-get($breakpoints, 'large') - 0.0625rem) {
            margin: 1.33em 0;
            font-size: 1.22em;
            line-height: 1.45;
        }

        // Above 1024px;
        @media(min-width: map-get($breakpoints, 'large')) {
            margin: 1.33em 0;
            font-size: 1.25em;
            line-height: 1.47;
        }

    }

}

// ********************
// COUNTDOWN SECTION
// ********************

.countdown__left, .register__left {
    text-align: center;

    @include breakpointsUp(large) {
        margin-bottom: 0;
        text-align: start;
    }

}

.countdown__left {
    margin-bottom: 2.5rem;
}

.countdown__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.countdown__wrapper--number {
    box-shadow: 0px 1px 2px 0px rgba($color: #000000, $alpha: 0.05);
    border: 1px solid $gray-50;
    border-radius: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 22%;
    text-align: center;

    > h6 {
        font-size: 1rem;
    }

    @include breakpointsUp(large) {
        padding: 2rem 1.25rem;

        > h6 {
            font-size: 1.125rem;
        }

    }

}

.countdown__number {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    color: $gray-900;

    @include breakpointsUp(large) {
        width: 7.5rem; height: auto;
    }

}

.countdown__label {
    color: $gray-300;
    text-transform: uppercase;
}

// ********************
// EXPECT SECTION
// ********************

section#expect {
    background-color: $gray-50;
}

.expect__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.expect__form, .hero__form {
    padding: 7.5rem 2.5rem;
    border: 2px dashed $beige-400;
    border-radius: 0.75rem;
    max-width: 41.875rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);

    > input[type=text] {
        width: 100%;
        padding: 1rem 2rem;
        background-color: $gray-50;
    }

    button {
        width: 100%;
    }

}

.expect__form {
    background-color: $white;
}

.expect__testimonial {
    padding: 2.5rem;
    background-color: rgba($white, 0.5);
    border: 1px solid $gray-50;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $gray-400;
    backdrop-filter: blur(4px) saturate(110%);
}

.hero__form {
    background-color: rgba($white, 0.1);
    backdrop-filter: blur(4px) saturate(110%);
    color: $gray-300;
}

// ********************
// MATT SECTION
// ********************

section#matt {
    background-color: $white;

    > .container {
        position: relative;
        z-index: 200;
    }

}

.matt__background {
    position: absolute;
    top: 0; left: 0;
    width: 50%; height: 100%;
    background-image: url('/static/img/matt_sitting.webp');
    background-position: top 50% left 0;
    background-repeat: no-repeat;
    background-size: auto 150%;

    &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
        backdrop-filter: brightness(90%) saturate(90%);

        // Below 1023px;
        @media(max-width: map-get($breakpoints, 'large')) {
            background-image: linear-gradient(to right, rgba($white, 1.0), rgba($white, 1.0));
        }

        // From 1024px to 1279px;
        @media(min-width: map-get($breakpoints, 'large')) and (max-width: map-get($breakpoints, 'xl') - 0.0625rem) {
            background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.9) 99%);
        }

        // From 1280px to 1535px;
        @media(min-width: map-get($breakpoints, 'xl')) and (max-width: map-get($breakpoints, '2xl') - 0.0625rem) {
            background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.9) 95%);
        }

        // From 1536px to 1599px;
        @media(min-width: map-get($breakpoints, '2xl')) and (max-width: map-get($breakpoints, '3xl') - 0.0625rem) {
            background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.9) 85%);
        }

        // Above 1600px;
        @media(min-width: map-get($breakpoints, '3xl')) {
            background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 1.0) 80%);
        }

    }

}

.matt__overlay {
    position: absolute;
    z-index: 100;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
    background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.25) 25% , rgba($white, 1.0) 35%);

    // Below 1023px;
    @media(max-width: map-get($breakpoints, 'large')) {
        background-image: linear-gradient(to right, rgba($white, 1.0), rgba($white, 1.0));
    }

    // From 1024px to 1279px;
    @media(min-width: map-get($breakpoints, 'large')) and (max-width: map-get($breakpoints, 'xl') - 0.0625rem) {
        background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.25) 25% , rgba($white, 1.0) 35%);
    }

    // From 1280px to 1535px;
    @media(min-width: map-get($breakpoints, 'xl')) and (max-width: map-get($breakpoints, '2xl') - 0.0625rem) {
        background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.25) 35% , rgba($white, 1.0) 45%);
    }

    // Above 1535px
    @media(min-width: map-get($breakpoints, '2xl')) {
        background-image: linear-gradient(to right, rgba($white, 0.0), rgba($white, 0.25) 20% , rgba($white, 1.0) 30%);
    }

}

.matt__wrapper {

    @include breakpointsUp(large) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

}

.matt__callout {
    padding: 5rem;
    background-color: $beige-100;
    text-align: center;

    @include breakpointsUp(large) {
        width: 50%;
        text-align: start;
    }

}

// ********************
// REGISTER SECTION
// ********************

section#register {
    background-color: $gray-500;

    h3 {
        color: $white;
    }

}

.register__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include breakpointsUp(large) {
        justify-content: flex-end;
    }

}

// ********************
// PROOF SECTION
// ********************

.proof__logo {
    width: auto; height: 1.5rem;
    object-fit: contain;

    @include breakpointsUp(medium) {
        height: 3rem;
    }

    &--large {
        @extend .proof__logo;
        height: 4.5rem;

        @include breakpointsDown(medium) {
            height: 2.25rem;
        }

    }

}