section#hero--ty {
    background-color: $gray-500;
    background-image: url('static/img/matt_ty.webp'), url('static/img/matt_ty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::before {
        content: '';
        position: absolute;
        z-index: 100;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
        background-image: linear-gradient(to bottom, rgba($gray-500, 0.2), rgba($gray-500, 1.0) 80%);
        backdrop-filter: brightness(60%) saturate(80%);

        @include breakpointsUp(medium) {
            background-image: linear-gradient(to right, rgba($gray-500, 0.1), rgba($gray-500, 1.0) 75%);
        }

    }

    > .container {
        position: relative;
        z-index: 200;
    }

}

section#countdown--ty {
    background-color: $gray-50;
}

.countdown__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include breakpointsUp(large) {
        justify-content: flex-start;
    }

}

.hero__form__success {
    visibility: hidden;
    opacity: 0.0;
    margin-top: 1.25rem;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: #ECFDF5;
    word-wrap: normal;
}

.success__left {
    max-width: 75%;

    > img {
        margin-right: 1rem;
    }

    > p {
        font-size: 1rem;
        color: #10B981;
    }

}